=# link_to 'Click here to see your email or load image below', 'http://localhost:3000/emails/'+@email.image_url
= "Email Text:" 
= @email.text

.image
	= image_tag("http://privacy.omadahealth.com:3000/assets/"+@email.image_url+'.jpg')